.App {
  text-align: center;
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.Movie-wrapper {
  width: 500px;
  background-color: antiquewhite;
  color: black;
}

.Movie-search {
  height: 48px;
  border-radius: 5px;
  margin-bottom: 32px;
  font-weight: bold;
  color: black;
}

.Movie-title{
  height:60px;
  width:100%;
  background-color:black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Movie-rate::before{
  content: "Rate: ";
  text-align: left;
  color: black;
  font-style: normal;
}



.Movie-date::before{
  content: "Realese date: ";
  text-align: left;
  color: black;
  font-style: normal;
}

.Movie-date , .Movie-rate{
  color: red;
  font-weight: 500;
}

